@charset "utf-8";
/* CSS Document */

#form1 {
	width: 266px;
	height: auto;
	border: thick solid #006;
	margin-left: auto;
	margin-right: auto;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.5em;
	background-image: url(../images/background/1.gif);
	color: #06F;
	z-index: 0;
}

.bd {
	text-align:center;
}

.slot-wrapper {
	 border: 1px solid #000000;
	 background-color: white;
	 height: 231px;
	 width: 264px;
}
.slot1 {
	background:url("../images/psd/reel1.png") repeat-y; 
	width:86px;
	height:230px;
	float:left;
	border:1px solid #000;
	background-position:0 4px;
}

.slot2 {
	background:url("../images/psd/reel2.png") repeat-y; 
	width:86px;
	height:230px;
	float:left;
	border:1px solid #000;
	background-position:0 4px;
}
.slot3 {
	background:url("../images/psd/reel3.png") repeat-y; 
	width:86px;
	height:230px;
	float:left;
	border:1px solid #000;
	background-position:0 4px;
}

.motion1 {
	background:url("../images/psd/reel1blur.png") repeat-y;
}
.motion2 {
	background:url("../images/psd/reel2blur.png") repeat-y;
}
.motion3 {
	background:url("../images/psd/reel3blur.png") repeat-y;
}

#result {
	margin:20px 0;
	font-size:18px;
	font-weight:bold;
	height:22px;
}

.clear {
	clear:both;
}

