/*note this is obsolete, and will probably not be used*/

.cardDivs {
	position: absolute;	
}
.containerDiv {
	position: relative;
	background-color: #0C3;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 5px;
	color: #390;
	height: 82%;
	width: 90%;
	right:5%;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
	background-color: rgba(0,0,0,0.40);
	float: right;
	-o-border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}
.containerDivIntro {
	position: relative;
	background-color: #0C3;
	font-family: Verdana, Geneva, sans-serif;
	font-size: .8em;
	font-weight: bold;
	color: #FF0;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(0,0,0,0.40);
	height: auto;
	width: 25%;
	-o-border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}
	#logoIntro {
	margin-right: auto;
	margin-left: auto;
	position: relative;
	height: 10%;
	width: 35.6%;
	-o-border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}
html, body {
	background-image:url(../images/backgroundRedFelt.gif);
    height: 100%;
	padding: 0!;
    margin: 0;
	background-repeat: no-repeat;
    overflow:hidden;
}
	#indexLogo {
	position: absolute;
	top: 9%;
	margin-left: -325px;
	left: 50%;
	
}
#logo {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	height: 10%;
	width: 50%;

}
#gameDiv {
	position: relative;	
	background-color: #930;
	height: 90%;
	width: 98%;
	margin-right: auto;
	margin-left: auto;
}
.textFieldFormat {
	text-align: right;
	color: #FF0;
}
.textBoxFormat {
	text-align: left;
}
#copyrightFooter {
	position: relative;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	color: #FF0;
	width: 40%;
	background-color: rgba(0,0,0,0.40);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	-o-border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}
#copyrightFooterIntro {
	position: relative;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	color: #FF0;
	width: 25%;
	background-color: rgba(0,0,0,0.40);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	-o-border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}
.centerText {
	text-align: center;
}
#infoTable {
	border-spacing: 10px;
    border-collapse: separate;
}
#infoTableTd {
	padding: 10px;	
}
.center {
	margin-right: auto;
	margin-left: auto;
}
#gameHeader {
	width: 15%;
	background-color: rgba(0,0,0,0.50);
	-o-border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}





