/* *******************************************
	NOTE: Any changes to your game's layout will
		have to be done in a seperate CSS file
		linked to YOUR SPECIFIC game page. NOT
		in this css file.
   ******************************************** */

body{
	background-image: url(../images/bg.png);
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#FFF;
}

a{
	color: #09F;
}

#header{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:7em;
	background-color: rgba(0,0,0,0.5);
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#userInfo{
	width:auto;
	border: solid black thin;
	float:left;
	margin-left:1em;
}

#gameSelector{
	float:right;
	width:auto;
	margin-top:-3em;
	margin-right: 1em;
}

#moneyDiv{
	width:4em;
	font-size: 3em;
	padding-top:.5em;
	margin-left:auto;
	margin-right: auto;
}

#content{
	width:100%;
	left:0;
	position:absolute;
	top:7em;
	z-index:-1;
}

#footer{
	position:absolute;
	top:94.9%;
	left:0;
	width:100%;
	height: 3em;
	text-align:center;
	background-color: rgba(0,0,0,0.5);
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}