/*******************************
		intro.html Styles
*******************************/
.infoContent {
	position:relative !important;
    background-color: rgba(0,0,0,0.5);
	z-index: 5 !important;
	width:20em !important;
	margin-left: auto !important;
	margin-right:auto !important;
	margin-top: 11%;
    border-radius: 25px;
}

#intro-welcome {
	padding-top: 0.5em;
    font-size: 3em;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1em;
    text-align: center;
    width: auto;
}

#playerInfoForm{
	padding-top:1em;
	width:15em;
	margin-left:auto;
	margin-right:auto;
}

#playerInfoForm input{
	margin-bottom:1em;
}

.Fname{
	margin-left:2.3em !important;
}

.Lname{
	margin-left:2.5em !important;
}

#phoneNum{
	margin-left:0.3em;
}

#pCode{
	margin-left:1.8em;
}

#initFund{
	margin-left:0.1em;
}


#submitBtn{
	margin-top:1em;
	padding-bottom:0.5em;
	margin-left:4.5em;
}

/*******************************
	 SelectAGame.html Styles
*******************************/
#gameChoices {
	margin-top:10%;
	width:2em;
	margin-left: auto;
    margin-right: auto;
}

.choices-td {
	background-color: rgba(0, 0, 0, 0.5);
	padding-left:1em;
    height: 6em;
    width: 12em;
}

#roulette{
	border-top-left-radius: 15px;
}

#blkjk{
	border-bottom-left-radius: 15px;
}

#poker{
	border-top-right-radius: 15px;
}

#slots{
	border-bottom-right-radius: 15px;
}

#blkjk img{
	margin-left:-0.5em;
	margin-right:0.5em;
}

#poker img{
	margin-left:-0.3em;
	margin-right:0.5em;
}

#selectAGame-chooseGame {
	font-size: 3em;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1em;
    text-align: center;
    width: auto;
}

