/* CSS Document */

#gameChoices {
	margin-left: 39%;
    margin-right: auto;
    margin-top: 13.5%;
    position: absolute;
}

#choices-td {
	background-color: rgba(0, 0, 0, 0.5);
    height: 6em;
    width: 12em;
}